* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  background-color: rgba(13, 71, 83, 78%);
  border-radius: 0 0 25px 25px;
  color: #fff;
  /* color: rgb(210, 210, 210); */
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.25rem 2rem;
}
.img-logo {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}
.menu-list {
  display: flex;
  justify-content: space-evenly;
}
.navbar a {
  padding: 0.5rem;
  border-radius: 1.5rem;
  transition: background-color 0.3s, letter-spacing 0.3s;
}
.navbar a {
  text-decoration: none;
  color: unset;
}
.navbar a:hover {
  background-color: rgb(255, 255, 0);
  color: rgba(13, 71, 83, 100%);
  letter-spacing: 0.1rem;
}
.close-btn,
.humburger {
  transition: color 0.3s;
  display: none;
  cursor: pointer;
}
.close-btn:hover,
.humburger:hover {
  color: rgb(255, 255, 0);
}
@media screen and (max-width: 480px) {
  .humburger {
    display: block;
    font-size: 1.5rem;
  }
  .close-btn {
    display: block;
    position: absolute;
    top: 3%;
    right: 5%;
    font-size: 1.5rem;
  }
  .nav-bar {
    position: fixed;
    top: 0;
    right: 0;
    width: 12rem;
    height: 100vh;
    background-color: rgba(13, 71, 83, 78%);
    visibility: hidden;
    padding: 3rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    z-index: 1000;
  }
  .show-menu {
    visibility: visible;
  }
  .nav-bar .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
